body{

}
h1{
  font-size: 200px;
  text-align: center;
  color:tan;
  border: 20px solid blue;
}
h2{
  font-size: 150px;
  text-align: center;
  color: tan;
}
.bio{
  float:left;
  text-align: center;
  font-size: x-large;
}
.projects{
  font-size: x-large;
  text-align: center;
}
h3{
  color:tan;
  border-style: solid;
  border-width: 10px;
  border-color: blue;
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px;
  width: 150px;
  float: left;
}
h4{
  color: tan;
  border-style: solid;
  border-width: 10px;
  border-color: blue;
  margin-left: 100px;
  width: 150px;

}
h5{
  color:tan;
  border-style: solid;
  border-width: 10px;
  border-color: blue;
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px;

}
.contact{
  color: black;
}
a:link {
  color: green
}
a:visited {
  color: red;
}
a:hover{
  color: blue;

}
