h2{
  color: blue;
}
body{
  font-style: italic;
  background-image: url(../images/custom-software-development.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
   color: blue
   
}
