h2{
  color: blue;
}
body{
  background-image: url(../images/custom-software-development.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  font-size: 80px;
}
p{
  font-style: italics
}
h2{
  font-size: 50px
}
.bio{
  color: red;
  float:left;
}
img{
  float: right
}
